html{

    scroll-behavior:smooth;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#08111f;
color:#fff;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

header{
position:fixed;
width:100%;
background:#08111fee;
backdrop-filter:blur(12px);
z-index:999;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 0;
}

.logo{
font-size:30px;
font-weight:700;
color:#35b8ff;
transition:.3s;
cursor:pointer;
}

.logo:hover{

    transform:scale(1.08);

    text-shadow:0 0 20px #35b8ff;

}

nav ul{
display:flex;
list-style:none;
gap:35px;
}

nav a{
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#35b8ff;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
}

.hero-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:60px;
}

.hero h3{
font-size:24px;
color:#35b8ff;
margin-bottom:10px;
}

.hero h1{
    font-size:52px;
    line-height:1.15;
    margin-bottom:15px;
}

.hero h2{
    font-size:34px;
    color:#35b8ff;
    margin-bottom:25px;
}

job-title{

    min-height:45px;

}

#typing{

    color:#35b8ff;

}

#typing::after{

    content:"|";

    animation:blink .8s infinite;

}

@keyframes blink{

    50%{

        opacity:0;

    }

}

.hero p{
font-size:18px;
line-height:1.8;
color:#d8d8d8;
margin-bottom:20px;
}

.buttons{
margin-top:40px;
display:flex;
gap:20px;
}

.btn{
    padding:15px 35px;
    border-radius:40px;
    background:#35b8ff;
    text-decoration:none;
    color:#08111f;
    font-weight:700;
    transition:all .35s ease;
}
    
.btn:hover{

    transform:translateY(-5px) scale(1.03);

    box-shadow:0 15px 35px rgba(53,184,255,.45);

}

.btn-outline:hover{

    background:#35b8ff;

    color:#08111f;

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(53,184,255,.35);

}

.hero-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    width:340px;
    height:340px;
    object-fit:cover;

    border-radius:50%;

    border:6px solid #35b8ff;

    box-shadow:0 15px 40px rgba(53,184,255,.35);
}

.hero-info{
    margin-top:15px;
    margin-bottom:30px;
}

.hero-info p{
    margin:6px 0;
    color:#cfd8dc;
    font-size:16px;
}

/* ===========================
   ABOUT SECTION
=========================== */

.about{

padding:120px 0;

background:#0c1728;

}

.section-title{

font-size:42px;

text-align:center;

margin-bottom:20px;

color:#35b8ff;

}

.section-description{

max-width:850px;

margin:auto;

text-align:center;

line-height:1.9;

font-size:18px;

color:#d6d6d6;

margin-bottom:60px;

}

.about-cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.card{

background:#111d31;

padding:40px;

border-radius:18px;

text-align:center;

transition:.35s;

border:1px solid rgba(255,255,255,.08);

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.card h3{

font-size:48px;

color:#35b8ff;

margin-bottom:10px;

}

.card p{

font-size:18px;

color:#d7d7d7;

}

/* ===========================
   EXPERIENCE
=========================== */

.experience{

padding:120px 0;

}

.timeline{

position:relative;

margin-top:60px;

}

.timeline::before{

content:"";

position:absolute;

left:120px;

top:0;

bottom:0;

width:4px;

background:#35b8ff;

}

.timeline-item{

display:flex;

margin-bottom:60px;

}

.timeline-date{

width:120px;

font-size:22px;

font-weight:700;

color:#35b8ff;

}

.timeline-content{

margin-left:50px;

background:#111d31;

padding:30px;

border-radius:15px;

width:100%;

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.timeline-content:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.timeline-content h3{

margin-bottom:10px;

font-size:24px;

}

.timeline-content h4{

margin-bottom:15px;

color:#35b8ff;

font-weight:500;

}

.timeline-content p{

line-height:1.8;

color:#d7d7d7;

}

/* ==========================
   PROJECTS
========================== */

.projects{
    padding:120px 0;
    background:#08111f;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    margin-top:60px;
}

.project-card{
    background:#111d31;
    border-radius:20px;
    overflow:hidden;
    transition:.35s;
    border:1px solid rgba(255,255,255,.08);
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,170,255,.25);
}

.project-card img{
    width:100%;
    height:240px;
    object-fit:cover;
}

.project-info{
    padding:25px;
}

.project-info h3{
    color:#35b8ff;
    margin-bottom:15px;
}

.project-info p{
    color:#d8d8d8;
    line-height:1.8;
}

.contact{

    padding:120px 0;

}

.contact-content{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    margin-top:60px;

}

.contact-item{

    background:#111d31;

    padding:35px;

    border-radius:15px;

    border:1px solid rgba(255,255,255,.08);

    transition:.35s;

}

.contact-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(53,184,255,.25);
}

.contact-item h3{

    color:#35b8ff;

    margin-bottom:15px;

}

.contact-item p,
.contact-item a{

    color:#d7d7d7;

    text-decoration:none;

}

footer{

    text-align:center;

    padding:35px;

    background:#091321;

    color:#aaa;

}

footer{

    padding:70px 0;

    background:#091321;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

footer h2{

    color:#35b8ff;

    font-size:40px;

    margin-bottom:15px;

}

footer h2{

    color:#35b8ff;

    font-size:40px;

    margin-bottom:15px;

}

.footer-links{

    display:flex;

    justify-content:center;

    gap:35px;

    margin:35px 0;

    flex-wrap:wrap;

}

.footer-links a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.footer-links a:hover{

    color:#35b8ff;

}

.copyright{

    margin-top:40px;

    color:#777;

    font-size:14px;

}

nav a{

    position:relative;

    transition:.3s;

}

nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#35b8ff;

    transition:.35s ease;

}

nav a:hover::after{

    width:100%;

}

nav a.active{

    color:#35b8ff;

}

nav a.active::after{

    width:100%;

}

header{

    transition:.3s;

}

header.sticky{

    background:rgba(8,17,31,.95);

    backdrop-filter:blur(12px);

    box-shadow:0 5px 20px rgba(0,0,0,.3);

}

/* ============================
   SCROLL ANIMATION
============================ */

.hidden{

    opacity:0;

    transform:translateY(80px);

    transition:all .8s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}

.project-card{

    opacity:0;

    transform:translateY(50px);

    transition:.6s;

}

.project-card.show{

    opacity:1;

    transform:translateY(0);

}

/* ============================
   BACK TO TOP
============================ */

#backToTop{

    position:fixed;

    bottom:30px;

    right:30px;

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#35b8ff;

    color:#08111f;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    display:none;

    z-index:999;

    transition:all .35s ease;

    box-shadow:0 8px 20px rgba(53,184,255,.35);

}

#backToTop:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(53,184,255,.45);

}

/* ============================
   LOADER
============================ */

#loader{

    position:fixed;

    inset:0;

    background:#08111f;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

    transition:opacity .8s ease;

}

#loader h1{

    color:#35b8ff;

    font-size:60px;

    margin:0;

}

#loader p{

    color:white;

    letter-spacing:3px;

    margin-top:15px;

    font-size:18px;

}

#loader.hide{

    opacity:0;

    pointer-events:none;

}
