*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#08111f;
color:#fff;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

header{
position:fixed;
width:100%;
background:#08111fee;
backdrop-filter:blur(12px);
z-index:999;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 0;
}

.logo{
font-size:30px;
font-weight:700;
color:#35b8ff;
}

nav ul{
display:flex;
list-style:none;
gap:35px;
}

nav a{
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#35b8ff;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
}

.hero-content{
display:grid;
grid-template-columns:1fr 420px;
gap:60px;
align-items:center;
}

.hero h3{
font-size:24px;
color:#35b8ff;
margin-bottom:10px;
}

.hero h1{

font-size:56px;

line-height:1.2;

}

.hero h2{
font-size:34px;
color:#35b8ff;
margin-bottom:25px;
}

.hero p{
font-size:18px;
line-height:1.8;
color:#d8d8d8;
margin-bottom:20px;
}

.buttons{
margin-top:40px;
display:flex;
gap:20px;
}

.btn{
padding:15px 35px;
border-radius:40px;
background:#35b8ff;
text-decoration:none;
color:#08111f;
font-weight:700;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
}

.btn-outline{
background:transparent;
border:2px solid #35b8ff;
color:#35b8ff;
}

.hero-image{
text-align:center;
}

.hero-image img{
width:340px;
height:340px;
border-radius:50%;
object-fit:cover;
border:8px solid #35b8ff;
box-shadow:0 0 35px rgba(53,184,255,.35);
}
